<html>
  <head>
    {% block head %}
    {% endblock %}
    {% if title %}
    <title>{{ title }} - Cognitive Science Survey</title>
    {% else %}
    <title>Welcome to the Survey App!</title>
    {% endif %}
  </head>
  <body>
    <div>CogSurvey: <a href="/index">Home</a></div>
    <hr>
     {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>